.header li {
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 110px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(242, 242, 242, 1);

}

.flex_header {
  display: flex;
  align-items: center;
}

.flex_header li {
  font-weight: 500;
  font-size: 16px;
}

.flex_header li:not(:last-child) {
  margin-right: 30px;
}

.logo_header {
  max-width: 79px;
  max-height: 29px;
}

.logo_header img {
  max-width: 100%;
  max-height: 100%;
}

.user_header {
  max-width: 25px;
  max-height: 25px;
  margin-right: 15px;
}

.user_header img {
  width: 100%;
  height: 100%;
}

.header_logo_user {
  max-width: 41px;
  max-height: 41px;
  background-color: grey;
  border-radius: 50px;
  margin-right: 15px;
}

.header_bottom_block {
  min-width:224px;
  position: absolute;
  z-index:1000;
  top: 100%;
  background-color:rgba(255, 255, 255, 1);
  border-radius:6px;
}

.header_bottom_block ul li {
  padding: 12px 0 12px 16px;
  font-size: 14px;
  width: 100%;
}

.header_bottom_block ul li:hover {
  background-color: rgba(243, 244, 246, 1);
}

.header_bottom_block ul li:not(:last-child) {
  border-bottom: 1px solid rgba(242, 242, 242, 1);
}
.open_btn{
  padding: 9px 18px;
  border-radius:8px;
}
.exit_btn{
  color:red;
}

.flex_user{
  display: flex;
  flex-direction: column;
}
.flex_user span{
  margin-bottom: 3px;
}
.user_admin{
  display: flex;
  flex-direction: column;
}
.user_admin p:not(:last-child){
  margin-bottom: 8px;
}
.header_user_descriptiion{
  display: flex;
  align-items: center;
}
.logo_user{
  width: 41px;
  height: 41px;
  margin:0 17px 0 24px;
}
.logo_user img {
  width: 100%;
  height: 100%;
  border-radius:50px;
}
.user_name{
  font-size: 14px;
  font-weight: 600;
}
.user_username{
  font-size: 12px;
  color: rgba(144, 144, 144, 1);
}
