<div class="container">
  <div class="create_recipe">
    <div>
      <h3>{{ recipe.title }}</h3>
    </div>
    <form [formGroup]="createRecipeForm" class="basic_information">
      <div>
        <div class="input_field">
          <h5>Основная информация</h5>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Название рецепта</p>
          </label>
          <div class="max_field input position_field">
            <input pInputText formControlName="nameRecipe"/>
            <span class="err_img"
                  *ngIf="!createRecipeForm.get('nameRecipe')?.valid && createRecipeForm.get('nameRecipe')?.touched">
            </span>
          </div>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Краткое описание</p>
          </label>
          <div class="max_field input position_field">
            <textarea
              rows="2"
              cols="30"
              pInputTextarea
              formControlName="descRecipe"
            ></textarea>
            <span class="err_img"
                  *ngIf="!createRecipeForm.get('descRecipe')?.valid && createRecipeForm.get('descRecipe')?.touched">
            </span>
            <p>Опишите о чем ваш рецепт</p>
          </div>
        </div>
      </div>
      <div>
        <div class="input_field">
          <h5>Дополнительная информация</h5>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Категория</p>
          </label>
          <div class="min_field position_field">
            <input pInputText formControlName="categories"/>
            <span class="err_img"
                  *ngIf="!createRecipeForm.get('categories')?.valid && createRecipeForm.get('categories')?.touched">
            </span>
          </div>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Время приготовления</p>
          </label>
          <div class="min_field position_field">
            <input pInputText formControlName="timeCooking"/>
            <span class="err_img"
                  *ngIf="!createRecipeForm.get('timeCooking')?.valid && createRecipeForm.get('timeCooking')?.touched">
            </span>
          </div>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Белки</p>
          </label>
          <div class="max_field input position_field">
            <input pInputText formControlName="belki"/>
            <span class="err_img"
                  *ngIf="!createRecipeForm.get('belki')?.valid && createRecipeForm.get('belki')?.touched">
            </span>
          </div>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Жиры</p>
          </label>
          <div class="min_field position_field">
            <input pInputText formControlName="fats"/>
            <span class="err_img"
                  *ngIf="!createRecipeForm.get('fats')?.valid && createRecipeForm.get('fats')?.touched">
            </span>
          </div>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Углеводы</p>
          </label>
          <div class="min_field position_field">
            <input pInputText formControlName="carbohydrates"/>
            <span class="err_img"
                  *ngIf="!createRecipeForm.get('carbohydrates')?.valid && createRecipeForm.get('carbohydrates')?.touched">
            </span>
          </div>
        </div>
        <div class="input_field">
          <label class="title">
            <p>Калории</p>
          </label>
          <div class="min_field position_field">
            <input pInputText formControlName="calories"/>
            <span class="err_img"
                  *ngIf="!createRecipeForm.get('calories')?.valid && createRecipeForm.get('calories')?.touched">
            </span>
          </div>
        </div>
        <div class="column detail_info">
          <h5>Детальная информация</h5>
          <p>Детально опишите первый шаг вашего рецепта</p>
        </div>
        <div formArrayName="steps">
          <div *ngFor="let step of steps.controls; let i = index" [formGroupName]="i">
            <div class="input_field">
              <label class="title">
                <p>Краткое действие</p>
              </label>
              <div class="min_field position_field">
                <input pInputText formControlName="firstStep"/>
                <span class="err_img"
                      *ngIf="!steps.at(i).get('firstStep')?.valid && steps.at(i).get('firstStep')?.touched">
                </span>
              </div>
            </div>
            <div class="input_field">
              <label class="title">
                <p>Описание</p>
              </label>
              <div class="max_field position_field">
                <textarea
                  rows="1"
                  cols="20"
                  pInputTextarea
                  formControlName="descFirstStep"
                ></textarea>
                <span class="err_img"
                      *ngIf="!steps.at(i).get('descFirstStep')?.valid && steps.at(i).get('descFirstStep')?.touched">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="btn_add_more">
          <button type="button" (click)="addStep()" class="btn_blue">Добавить еще</button>
        </div>
        <div class="column">
          <h5>Ингредиенты</h5>
        </div>
        <div formArrayName="ingredients">
          <div *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i">
            <div class="input_field">
              <label class="title">
                <p>Название ингредиента</p>
              </label>
              <div class="min_field position_field">
                <input pInputText formControlName="nameIngredient"/>
              </div>
            </div>
            <div class="input_field">
              <label class="title">
                <p>Описание</p>
              </label>
              <div class="max_field position_field">
                <textarea
                  rows="1"
                  cols="20"
                  pInputTextarea
                  formControlName="descIngredient"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="btn_add_more">
          <button type="button" (click)="addIngredient()" class="btn_blue">Добавить еще</button>
        </div>
      </div>
      <div class="send_btn">
        <button class="button_subm" (click)="onSave()">
          <i class="icon fas fa-search"><img src="../../../../assets/Mai1l.png" alt=""></i>
          <span class="text">{{ recipe.id ? 'Редактировать рецепт' : 'Отправить рецепт' }}</span>
        </button>
      </div>
    </form>
  </div>
</div>
