<div class="container">
  <h3>Комментарии</h3>
  <div *ngFor="let item of comments" class="comments_list">
    <div class="flex_comments">
    <div class="logo_comments">
      <img src="{{item.user.avatar}}" alt="">
    </div>
    <ul>
      <li class="text_style">{{item.user.firstName}}</li>
      <li class="text_time">{{item.createdOn  | date:'dd.MM.yy HH:mm'}}</li>
      <li  class="text_style">{{item.text}}</li>
    </ul>
    </div>
  </div>
  <div class="comment-container">
    <form [formGroup]="comment">
      <label for="comment">Ваш комментарии</label>
      <div class="textarea-container">
        <textarea id="comment"></textarea>
        <button type="submit" class="submit-btn">
          <img src="../../../../assets/Mail.png" alt="Icon" />
          Отправить
        </button>
      </div>
    </form>
  </div>

</div>
