<div class="container">
  <section class="user_header">
    <div class="header_user">
      <div class="left_user_block">
        <ul class="flex_section">
          <li class="flex">
            <div class="logo"><img src="{{user.avatar}}" alt=""></div>
            <div>
              <ul>
                <li class="user_name"><h4>{{ user.firstName }} {{ user.lastName }}</h4>
                  <div class="block_role_user">
                    <div class="user_active"></div>
                    <span class="user_role">{{ user.role }}</span>
                  </div>
                </li>
                <li class="time_create"><p>Создан {{ user.createdOn | time}}</p></li>
                <li><p>{{ user.username }}</p></li>
              </ul>
            </div>
          </li>
          <li>
            <button class="btn_red">Удалить</button>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="user_recipe_section user_container">
    <div class="user_status">
      <ul>
        <li>
          <p>Всего рецептов</p>
          <h6>{{ user.posts.length }}</h6>
        </li>
        <li>
          <p>Всего комментариев</p>
          <h6>{{ user.comments.length }}</h6></li>
        <li>
          <p>Статус</p>
          <h6>{{ user.isActive ? 'Активен' : 'Не активен' }}</h6>
        </li>
      </ul>
    </div>
  </section>
  <section class="user_container">
    <div class="user_recipe">
      <h6>Созданные рецепты</h6>
      <div class="recipe_block_user">
      <div *ngFor="let item of user.posts" >
          <ul class="single_recipe_block">
            <li><img src="{{item.image}}" alt=""></li>
            <li class="title_recipe"><p>{{ item.title }}</p></li>
            <li>Создан {{ item.createdOn | time  }}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="user_container user_information">
    <div>
      <h6>Инфомрмация аккаунта</h6>
      <div>
        <ul class="list_info_user">
          <li><p>Фамилия</p> {{ user.lastName }}</li>
          <li><p>Имя</p> {{ user.firstName }}</li>
          <li><p>Отчество</p> {{ user.middleName }}</li>
          <li><p>User-Agent</p> {{ user.userAgent }}</li>
          <li><p>Последний раз заходил</p> {{ user.lastEntry | time}}</li>
        </ul>
      </div>
    </div>
  </section>
</div>
