<div class="wrapper_delicious">
<div class=" container">
  <div class="header_delicious" *ngIf="!forDetail">
    <h2>Попробуйте эти вкусные
      рецепты</h2>
    <p>На нашем сайте вы найдете лучшие рецепты, которые помогут вам создавать великолепные блюда и порадовать своих
      близких и гостей своим кулинарным мастерством. </p>
  </div>
  <div *ngIf="forDetail" class="header_delicious_detail">
    <h4>Возможно вам понравятся эти рецепты</h4>
  </div>
  <app-recipe-item [recipe]="recipe"
                   [favoriteAddBtn]=false
                   [deliciousBlock]=true
  ></app-recipe-item>
</div>
</div>
