<div class="container">
  <section class="container_detail" *ngIf="recipe ">
    <div class="sub_container">
      <div class="title">
        <h1>{{ recipe.title }}</h1>
        <div class="user_block">
          <div class="logo flex">
            <img src="{{ recipe.author.avatar }}" alt="" class="box"/>
            <div>
              <h6>{{ recipe.author.firstName }}{{ recipe.author.lastName }}</h6>
              <p>{{ recipe.updatedOn | date : "longDate" }}</p>
            </div>
          </div>
          <div class="time flex">
            <img src="../../../../assets/Timer.png" alt="" class="box"/>
            <div>
              <p>Время приготовления</p>
              <p>{{ recipe.timeCooking }} минуты</p>
            </div>
          </div>
          <div class="icon flex">
            <img src="../../../../assets/ForkKnife.png" alt="" class="box"/>
            <p>{{ recipe.tags[0] }}</p>
          </div>
        </div>
      </div>
      <div class="print_box">
        <div class=" favorite">
          <div class="icon_detail">
            <img src="../../../../assets/star.png" alt=""/>
          </div>
          <small>В ИЗБРАННОЕ</small>
        </div>
        <div class="print">
          <div class="icon_detail">
            <img src="../../../../assets/printer.png" alt=""/>
          </div>
          <small (click)="printPage()">РАСПЕЧАТАТЬ</small>
        </div>
        <div class="share ">
          <div class="icon_detail">
            <img src="../../../../assets/share.png" alt=""/>
          </div>
          <small (click)="shareRecipe()">ПОДЕЛИТЬСЯ</small>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="recipe ">
    <div class="image_block">
      <div class="image_recipe">
        <img src="{{ recipe.image }}" alt=""/>
      </div>
      <div class="description">
        <div class="description_box">
          <h4>Пищевая ценность</h4>
          <div class="nutritional">
            <div class="nutritional_flex">
              <span>Калории</span>
              <p *ngIf="recipe" class="food_values">{{ recipe.foodValue.calories }} ккал</p>
            </div>
            <div class="nutritional_flex">
              <span>Жиры</span>
              <p class="food_values">{{ recipe.foodValue.fats }} г</p>
            </div>
            <div class="nutritional_flex">
              <span>Углеводы</span>
              <p class="food_values">{{ recipe.foodValue.carbohydrates }} г</p>
            </div>
            <div class="nutritional_flex">
              <span>Белки</span>
              <p class="food_values">{{ recipe.foodValue.proteins }} г</p>
            </div>
          </div>
          <p class="values">Значения приблизительные</p>
        </div>
      </div>
    </div>
    <h6 class="food">
      What does the word “food” mean to you? Is it a pleasure or just a fuel? This
      question has been disputable for a long time and everybody has his personal
      opinion about it. The majority of people would agree that we eat in order to
      have enough energy to complete our routine tasks.
    </h6>
  </section>
  <section class="select_section" *ngIf="recipe ">
    <div class="ingridient_box">
      <h3>Ингредиенты</h3>
      <div class="ingridient_list">
        <h4>Что вам пригодится</h4>
        <div *ngFor="let item of recipe.ingredients">
          <div class="round">
            <input type="checkbox" class="checlStr"/>
            <label for="checkbox" class="labelCheck">{{ item.title }} {{ item.description }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="other_recipe">
      <app-other-recipe></app-other-recipe>
    </div>
  </section>

  <section *ngIf="recipe " class="steps_section">
    <div class="steps">
      <h2>Шаги приготовления</h2>
      <div class="ingridient_list">
        <div *ngFor="let item of recipe.cookingSteps; let index = index">
          <div class="round">
            <input type="checkbox" class="checlStr2"/>
            <label class="labelCheck2"
            >
              <div>
                <h4 class="header_title">{{ index + 1 }}. {{ item.title }}</h4>
                <p class="header_desc">{{ item.description }}</p>
              </div>
            </label
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <app-delicious-recipes [forDetail]=true></app-delicious-recipes>
  </section>
  <section *ngIf="recipe ">
    <app-comments [comments]="comments"  [id]="recipe.id"></app-comments>
  </section>
</div>

<div #modalContainer></div>
