.container_error{
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.blue_color{
  font-size: 14px;
  font-weight: 600;
  color: rgba(58, 51, 149, 1);
}
.arrow{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.arrow a:not(:last-child){
  margin: 20px 0;
}
.desc{
  margin-left: 64px;
}
.desc h2 {
  margin: 8px 0;
}
.left{
  width: 50%;
}
.right{
  width:50%;
}
.right img {
  width: 100%;
}
