@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(107, 114, 128, 1);
}

img {
  max-width: 100%;
}

span {
  font-weight: 500;
}

.container {
  max-width: 1280px;
  margin: 0 auto;

}

.btn_blue {
  border-radius: 16px;
  color: #fff;
  background-color: rgba(58, 51, 149, 1);
  align-items: center;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.btn_blue:disabled {
  background-color: rgba(58, 51, 149, 0.5);
  color: rgba(255, 255, 255, 0.7);
  cursor: not-allowed;
  opacity: 0.6;
}

.btn_white {
  padding: 13px 25px;
  border-radius: 6px;
  color: rgba(55, 65, 81, 1);
  background-color: #fff;
  align-items: center;
  border: 1px solid rgba(209, 213, 219, 1);
  font-size: 14px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

label {
  font-size: 14px;
  font-weight: 500;
}

h1 {
  font-size: 60px;
  font-weight: 600;
}

h2 {
  font-size: 48px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  font-weight: 800;
  line-height: 36px;
  text-align: center;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

h6 {
  font-size: 18px;
  font-weight: 500;
}
